* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    background-size: 120% 100%;
    z-index: -1;
}

#background {
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 3px;
    width: 3px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow:  -50vh 2px 2px #ffeed9,
        -1vw 30vh 1px 0px #ffeed9,
        -48vw 47vh 0px 0px #ffeed9,
        -47vw -21vh 0px 0px #ffeed9,
        -45vw -1vh 2px 2px #ffeed9,
        -17vw -23vh 0px 0px #ffeed9,
        50vw -25vh 1px 2px #ffeed9,
        -31vw -1vh 2px 2px #ffeed9,
        -27vw 48vh 1px 1px #ffeed9,
        -39vw 37vh 2px 2px #ffeed9,
        -6vw 43vh 1px 2px #ffeed9,
        33vw 42vh 2px 1px #ffeed9,
        16vw -17vh 2px 0px #ffeed9,
        35vw 7vh 1px 1px #ffeed9,
        2vw -42vh 1px 2px #ffeed9,
        44vw 13vh 2px 0px #ffeed9,
        -38vw -14vh 1px 0px #ffeed9,
        -25vw -37vh 0px 1px #ffeed9,
        9vw 7vh 0px 2px #ffeed9,
        -28vw 2vh 0px 1px #ffeed9,
        24vw 8vh 0px 1px #ffeed9,
        21vw -24vh 1px 1px #ffeed9,
        24vw -23vh 0px 2px #ffeed9,
        -48vw -24vh 1px 2px #ffeed9,
        -23vw -40vh 2px 0px #ffeed9,
        50vw 27vh 0px 1px #ffeed9,
        35vw 23vh 2px 1px #ffeed9,
        18vw 8vh 0px 0px #ffeed9,
        -27vw 33vh 1px 1px #ffeed9,
        47vw -16vh 0px 2px #ffeed9,
        -44vw -32vh 1px 2px #ffeed9,
        25vw -37vh 2px 1px #ffeed9,
        -39vw -30vh 0px 1px #ffeed9,
        -16vw -3vh 1px 2px #ffeed9,
        37vw 43vh 2px 2px #ffeed9,
        -27vw -13vh 2px 2px #ffeed9,
        -19vw -8vh 0px 1px #ffeed9,
        -3vw 27vh 0px 2px #ffeed9,
        -8vw 35vh 1px 2px #ffeed9,
        41vw 30vh 2px 1px #ffeed9,
        13vw -3vh 2px 0px #ffeed9,
        50vw 15vh 0px 0px #ffeed9,
        18vw -19vh 2px 2px #ffeed9,
        40vw -29vh 1px 2px #ffeed9,
        -17vw -40vh 1px 0px #ffeed9,
        2vw 14vh 2px 2px #ffeed9,
        -19vw -12vh 1px 1px #ffeed9,
        13vw 2vh 2px 0px #ffeed9,
        -50vw -15vh 0px 0px #ffeed9,
        -12vw 12vh 1px 1px #ffeed9,
        12vw 17vh 1px 2px #ffeed9,
        43vw -42vh 0px 2px #ffeed9,
        -17vw -10vh 0px 1px #ffeed9,
        29vw -4vh 1px 1px #ffeed9,
        -35vw -34vh 1px 2px #ffeed9,
        37vw 29vh 2px 1px #ffeed9,
        40vw 35vh 1px 1px #ffeed9,
        -28vw -28vh 1px 0px #ffeed9,
        8vw -32vh 2px 1px #ffeed9,
        48vw 24vh 0px 2px #ffeed9,
        49vw 3vh 1px 0px #ffeed9,
        -12vw 26vh 1px 1px #ffeed9,
        -23vw 7vh 2px 1px #ffeed9,
        -23vw -16vh 2px 1px #ffeed9,
        0vw -8vh 1px 2px #ffeed9,
        -6vw 14vh 0px 1px #ffeed9,
        -40vw 18vh 2px 0px #ffeed9,
        24vw 29vh 2px 1px #ffeed9,
        -14vw 39vh 0px 0px #ffeed9,
        -21vw -40vh 1px 1px #ffeed9,
        -40vw -49vh 0px 0px #ffeed9,
        -3vw 29vh 0px 0px #ffeed9,
        37vw -44vh 0px 0px #ffeed9,
        -50vw -1vh 0px 2px #ffeed9,
        24vw -20vh 0px 0px #ffeed9,
        -22vw -31vh 2px 1px #ffeed9,
        -28vw -11vh 0px 0px #ffeed9,
        -23vw -37vh 2px 0px #ffeed9,
        39vw -20vh 1px 0px #ffeed9,
        -35vw -5vh 1px 0px #ffeed9,
        -38vw -35vh 1px 0px #ffeed9,
        44vw -34vh 2px 2px #ffeed9,
        -49vw -19vh 1px 2px #ffeed9,
        -21vw 2vh 1px 1px #ffeed9,
        -41vw -45vh 2px 0px #ffeed9,
        -40vw 38vh 1px 0px #ffeed9,
        33vw 29vh 1px 1px #ffeed9,
        47vw -29vh 1px 2px #ffeed9,
        -40vw 17vh 1px 2px #ffeed9,
        24vw -25vh 1px 2px #ffeed9,
        -18vw -15vh 1px 2px #ffeed9,
        -36vw 1vh 2px 0px #ffeed9,
        -41vw 29vh 1px 0px #ffeed9,
        -38vw 7vh 1px 1px #ffeed9,
        -2vw 36vh 0px 0px #ffeed9,
        -16vw -1vh 0px 1px #ffeed9,
        38vw 38vh 1px 2px #ffeed9,
        42vw 37vh 1px 2px #ffeed9,
        26vw -8vh 2px 0px #ffeed9,
        12vw 48vh 2px 0px #ffeed9;
    animation: zoom 10s linear infinite;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}

#game-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 16fr 1fr;
    border-radius: 2%;
}

#game-board {
    border-radius: 2%;
    grid-column-start: 1;
    display: grid;
    grid-template-columns: repeat(32, 1fr); /* WIDTH: (98 / 32) = 3.06vw  */
    grid-template-rows: repeat(18, 1fr);    /* HEIGHT: (90 / 18) = 5vh */
    /* background:  url(https://i.imgur.com/fSk3jkJ.jpg); */
}

#game-board .tiles {
    grid-area: span 1;
    border-radius: 2%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    font-size: 2vmin;
}

#status-bar {
    background: rgb(20, 123, 158);
    background: linear-gradient(56deg, rgba(20, 123, 158, 1) 0%, rgba(76, 59, 113, 1) 58%, rgba(2, 31, 75, 1) 100%);    grid-column-start: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:3fr 1fr;
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: rgb(211, 116, 170);
    font-weight: bold;
    visibility: hidden;
}

#player-stats {
    grid-area: 2 / 1 / 3 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vmin;
}

#health-num {
    grid-area: 1/ 1/ 2 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vmin;
    font-weight: lighter;
}

#score {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vmin;
}

#score-num {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vmin;
    font-weight: lighter;
}

#enemy-stats {
    grid-area: 2 / 3 / 3 / 4;
    display: flex;
    align-items: stretch;
    justify-content: center;
    font-size: 2vmin;
}

#enemy-num {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vmin;
    font-weight: lighter;
}

dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80vh;
    width: 70vw;    
    border-radius: 5%;
    background: rgb(17, 82, 104);
    background: linear-gradient(45deg, rgba(17, 82, 104, 1) 0%, rgba(76, 59, 113, 1) 67%, rgba(2, 31, 75, 1) 100%);
    box-shadow: 1px 1px 1px 1px blueviolet;
    color: rgb(199, 160, 229);
    font-family: 'Courier New', Courier, monospace;
}

/* dialog::backdrop {
    background-color: rgba(20, 3, 20, 0.8);
} */
dialog > .text-bg-image {
    background: url(https://i.imgur.com/gUO1y0o.jpg);
    background-color: #000;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: 10vmin;
}

div > h1 {
    text-align: center;
    font-weight: bold;
    font-size: 10vmin;
    letter-spacing: 1.5vmin;
    font-family: 'Bungee Shade', cursive;
    margin: 2vmin;
}

dialog  p {
    margin: 4vmin;
    font-size: 3.5vmin;
    text-align:left;
}

dialog #intro {
    font-style: italic;
    font-size: 3vmin;
}

ul {
    margin-top: -2vmin;
    list-style-type:square;
}

li {
    font-size: 3vmin;
    list-style-position: inside;
    margin-left: 1vmin;
}

#play-button {
    display: block;
    margin: 0 auto;
    height: 5vmin;
    width: 25vmin;
    text-align: center;
    font-size: 3vmin;
    font-family: 'Bungee Shade', cursive;
    border: rgb(135, 97, 32) 1px solid;
    border-radius: 5%;
    color: rgb(20, 135, 196);
    transition-duration: 0.5s;
    background-color: rgb(211, 116, 170);
}

#play-button:hover {
    border-color: blue;
    box-shadow: 3px 3px 5px orangered;
    cursor: url(https://i.imgur.com/i4eqcpD.png), pointer ;
    color:rgb(211, 116, 170);
    background-color: rgb(20, 135, 196);
}

#creator {
    color: rgb(224, 54, 153);
}