* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-container {
    height: 90vh;
    width: 98vw;
    display: grid;
    grid-template-columns: 16fr 1fr;
    border: 5px solid gold;
    border-radius: 2%;
}

#game-board {
    border: 1px solid red;
    border-radius: 2%;
    grid-column-start: 1;
    display: grid;
    grid-template-columns: repeat(32, 1fr); /* WIDTH: (98 / 32) = 3.06vw  */
    grid-template-rows: repeat(18, 1fr);    /* HEIGHT: (90 / 18) = 5vh */
}

#game-board .tiles {
    grid-area: span 1;
    border: 1px solid grey;
    border-radius: 2%; 
}

#status-bar { /*TODO: This will eventually be a grid/flex that contains player and enemy stats*/
    background-color: rgb(174, 42, 195);
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:3fr 1fr;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

#player-stats {
    grid-area: 2 / 1 / 3 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vmin;
}

#health-num {
    grid-area: 1/ 1/ 2 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vmin;
    font-weight: lighter;
}

#score {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vmin;
}

#score-num {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vmin;
    font-weight: lighter;
}

#enemy-stats {
    grid-area: 2 / 3 / 3 / 4;
    display: flex;
    align-items: stretch;
    justify-content: center;
    font-size: 2vmin;
}

#enemy-num {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vmin;
    font-weight: lighter;
}

.player {
    /*TODO: Insert SVG or IMG into div*/
    border: 1px solid greenyellow;
    border-radius: 50%;
    background-color: aquamarine;
    z-index: 10;
}

.tiles .bullet {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bullet {
    width: 1.5vw;
    height: .5vh;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}